$rouletteRed: #92140C;
$rouletteBlack: #00171F;
$rouletteGreen: #6BAA75;

$dark: $rouletteBlack;
$light: #ffffff;
$primary: #4062BB;
$secondary: #F45B69;
$mutedDark: #7C8377;
$mutedMid: #A2A79E;
$mutedLight: #D1D5CF;
$mutedVeryLight: #F4F7F2;

$text: $dark;
$link: #5BC3EB;
